@media only screen and (max-width: 992px) {
  .symbol {
    height: 25px;
    margin-top: 15px; }
  header .header .menu {
    margin-right: 2%; }
    header .header .menu ul li a {
      padding: 13px 10px 11px;
      font-size: 16px; }
  header .header_information .header__text h1 {
    font-size: 30px; }
  .information .information__blocks .information__block .information__text p {
    font-size: 15px; }
  .specials {
    width: 100%; }
    .specials .specials__blocks .specials__block {
      width: 50%; }
  .about .container {
    width: 80%; }
  .about .about__information {
    width: 68%;
    margin-right: 6%; }
    .about .about__information p {
      margin-top: 14px;
      font-size: 17.5px; }
    .about .about__information .signature {
      margin-top: 15px; }
    .about .about__information .about__photo {
      padding-right: 3%; }
  footer {
    background-image: none;
    background-color: #eeefef; }
    footer .container {
      width: 80%; }
      footer .container .footer_information {
        justify-content: center;
        margin-right: 0; }
        footer .container .footer_information .footer__text {
          width: 100%; } }
