@media only screen and (max-width: 768px) {
  h2 {
    font-size: 25px; }
  .symbol {
    height: 25px;
    margin-top: 15px; }
  header #menu {
    top: 0;
    right: 0;
    z-index: 20;
    position: absolute;
    width: 50%; }
    header #menu ul {
      background-color: rgba(251, 252, 254, 0.8);
      opacity: 0.98;
      width: 100%;
      margin-top: 58px;
      flex-direction: column; }
      header #menu ul li {
        display: none;
        text-align: center;
        border-radius: 0; }
      header #menu ul .icon {
        opacity: 1;
        display: block;
        position: absolute;
        right: 0;
        top: 10px;
        border-radius: 10px;
        background-color: rgba(251, 252, 254, 0.8);
        padding: 0 5px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px; }
        header #menu ul .icon a:last-child {
          border: none; }
          header #menu ul .icon a:last-child:hover {
            border: none; }
    header #menu .responsive li {
      position: relative;
      display: block; }
    header #menu .responsive li:last-child {
      background-color: none; }
    header #menu .responsive .icon {
      position: absolute;
      top: 10px;
      right: 0; }
  header .header_information {
    right: 7%; }
    header .header_information .header__text {
      width: 100%; }
      header .header_information .header__text h1 {
        font-size: 25px;
        line-height: 35px; }
  .information .information__blocks {
    justify-content: space-between;
    padding: 0;
    padding-top: 25px; }
    .information .information__blocks .information__block {
      width: 44%;
      margin-bottom: 25px; }
  .specials .specials__blocks .specials__block {
    width: 100%; }
    .specials .specials__blocks .specials__block .specials_information h4 {
      margin-top: 60px; }
  .about .wrap {
    flex-wrap: wrap; }
    .about .wrap .about__information {
      width: 100%;
      margin-right: 0; }
      .about .wrap .about__information p {
        margin-top: 15px; }
      .about .wrap .about__information .signature {
        margin-top: 20px; }
    .about .wrap .about__photo {
      margin-top: 10px;
      width: 80%; }
  .carte .container .menu_carte {
    font-size: 19px; }
    .carte .container .menu_carte .item {
      padding: 10px; }
  footer .container .footer_information .footer__text .footer__icons {
    margin-top: 40px; } }
